<header>
  <div class="container-fluid">
  <div class="row">
    <nav class="navbar navbar-expand-lg navbar-light bg-primary " style="position: fixed;width:100%;z-index:10">
     <div>
    <a class="navbar-brand text-white " href="#">Hello Teacher</a>
   
    <a href="/logout" class="float-right text-white btn btn-secondary">Logout</a>

 </nav>
  </div>
  </div>
  </header>
  <section>
  <div class="row" >
    <div class=" col-md-6 col-12">
      <nav class="navbar navbar-expand-lg navbar-light bg-light " style=" ">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
          aria-controls="navbarNav" aria-expanded="true" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <div class="navbar-nav">
            <div class="sidebar ">
  
  <a href="/teacher_home" class="list-group-item list-group-item-action list-group-item-primary">Home</a>
  <a href="/teacher_profile" class="list-group-item list-group-item-action list-group-item-light">Profile</a>
  <a href="/teacher_studentsView" class="list-group-item list-group-item-action list-group-item-secondary">Students</a>
  <a href="/teacher_attentanceview" class="list-group-item list-group-item-action list-group-item-primary">Attentance</a>
  <a href="/teacher_assignments" class="list-group-item list-group-item-action list-group-item-light">Assignments</a>
  <a href="/teacher_notes" class="list-group-item list-group-item-action list-group-item-secondary">Notes</a>
  <a href="/teacher_anouncements" class="list-group-item list-group-item-action list-group-item-primary">Anouncements</a>
  <a href="/teacher_events" class="list-group-item list-group-item-action list-group-item-light">Events</a>
  <a href="/teacher_photos" class="list-group-item list-group-item-action list-group-item-dark">Photos</a>
   <a href="/students_events" class="list-group-item list-group-item-action list-group-item-primary">Event Register</a>
  
 </div>
          </div>
        </div>

      </nav>
    </div>
  </div>
  </section>


    
