<section class=" ">
 
    

  
  <div class="row bg  ">
    <div class="col-md-6 m-auto ">
      <div class="container " style="padding: 170px;height:600px">
     
            <a href="/student" class="btn btn-success">student</a>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <a href="/teacher" class="btn btn-success">teacher</a>
         
    
       </div>

    </div>

  </div>
</section>