<section class="bg-secondary p-4">
 <div class="container-flex mt-5 pt-2 content">
        <div class="row pl-2 ">
            <div class=" col-md-6 col-xs-4 ">
        <div class="card " style="width: 18rem;">
          <img class="card-img-top " src="/images/student.jpg" alt="Card image cap">
          <div class="card-body text-center">
            <a href="/student" class="btn btn-success">student</a>
          </div>
        </div>
      </div>
       <div class=" col-md-6 col-xs-4 ">
        <div class="card " style="width: 18rem;f">
          <img class="card-img-top rounded-circle " src="/images/tutor.jpg" alt="Card image cap">
          <div class="card-body text-center">
            <a href="/teacher" class="btn btn-success">teacher</a>
          </div>
        </div>
      </div>



    </div>


  </div>
</section>