<section>
     <div class="row ">
            <div class="col-md-2" style="width: 200px;"></div>
            <div class=" col-md-10 " style="padding-left: 99px;">
                <h2 class="text-center"> Anouncements</h2>
          
                    <table class="table table-sm border border-light">
                        <thead>
                            <tr>

                                <th scope="col">Date</th>
                                <th scope="col">Subject</th>
                            </tr>
                        </thead>
                        <tbody>
                            {{#each anouncements}}
                            <tr class="table-active">

                                <td class="">{{this.date}}</td>
                                <td><a href="/student/anouncements-details/{{this._id}}">{{this.message}}</a></td>

                            </tr>
                            {{/each}}

                        </tbody>
                    </table>
                </div>
            </div>
        